<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="bbs" class="com.test.service.BaseBaseService">
        <property type="com.test.service.AService" name="as" ref="aservice"/>
    </bean>

    <bean id="aservice" class="com.test.service.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="com.test.service.BaseService" name="ref1" ref="baseservice"/>
    </bean>

    <bean id="baseservice" class="com.test.service.BaseService" />

    <bean id="handlerAdapter" class="com.minis.web.servlet.RequestMappingHandlerAdapter" />

    <bean id="webBindingInitializer" class="com.test.DateInitializer" />

    <bean id="messageConverter" class="com.minis.web.DefaultHttpMessageConverter" />

    <bean id="objectMapper" class="com.minis.web.DefaultObjectMapper" >
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>

    <bean id="viewResolver" class="com.minis.web.servlet.view.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="com.minis.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>

    <bean id="dataSource" class="com.minis.jdbc.datasource.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property type="String" name="url" value="jdbc:mysql://localhost:3306/minis?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=utf-8" />
        <property type="String" name="username" value="root" />
        <property type="String" name="password" value="641279" />
        <property type="int" name="poolSize" value="3" />
    </bean>

    <bean id="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate" />

    <bean id="sqlSessionFactory" class="com.minis.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocation" value="mapper" />
    </bean>

    <bean id="realAction" class="com.test.service.ActionImpl" />

    <bean id="myInterceptor" class="com.minis.aop.AfterReturningAdviceInterceptor">
        <property type="com.minis.aop.AfterReturningAdvice"  name="advice" ref="myAfterAdvice" />
    </bean>

    <bean id="myBeforeAdvice" class="com.test.service.MyBeforeAdvice" />

    <bean id="myAfterAdvice" class="com.test.service.MyAfterAdvice" />

    <bean id="myAdvisor" class="com.minis.aop.NameMatchMethodPointcutAdvisor">
        <property type="com.minis.aop.Advice" name="advice" ref="myBeforeAdvice"/>
        <property type="String" name="mappedName" value="do*"/>
    </bean>

<!--    <bean id="action" class="com.minis.aop.ProxyFactoryBean" >-->
<!--        <property type="java.lang.Object" name="target" ref="realAction"/>-->
<!--        <property type="com.minis.aop.Advisor" name="advisor" ref="myAdvisor"/>-->
<!--        &lt;!&ndash; <property type="String" name="interceptorName" value="myInterceptor"/> &ndash;&gt;-->
<!--    </bean>-->

    <bean id="autoProxyCreator" class="com.minis.aop.autoproxy.BeanNameAutoProxyCreator" >
        <property type="String" name="pattern" value="action*" />
        <property type="com.minis.aop.PointCutAdvisor" name="advisor" ref="myAdvisor"/>
    </bean>
</beans>